header {
    background-color: #33c9dc;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    width:100%;
    position:relative;
  }
  
  .service-title {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-decoration:none;
  }
  .iconBox{
    position: absolute;
    right: 0;
  }
  
  .user-icon {
    color: white;
    right: 0;
    margin-top: 0.5rem;
    height:40px;
  }

  .MuiSvgIcon-fontSizeMedium{
    font-size:3rem !important;
    right: 0 !important;
  }

  .dropdown {
    width: 100%;
    background-color: #14b4c9;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  li {
    list-style: none;
    color:white;
    font-size: 2rem;
  }

  @media screen and (min-width:768px){
    .service-title {
      font-size: 3.5rem;
      color: white;
      font-weight: bold;
    }

    .MuiSvgIcon-fontSizeMedium{
      font-size:3rem !important;
    }

    .icon-box{
      margin-right:1rem;
    }

  }