.container{
    background-color:#13aeb4;
    width:100%;
    height: 100vh;
}

.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.walking-image{
    width:80%;
    height:130px;
    border-radius:40%;
    margin-bottom: 2rem;
}

.inProgress{
    margin-bottom: 2rem;
    color:white;
}

.time{
    margin-bottom: 4rem;
    font-size:2rem;
    color:white;
}

.done-btn{
    padding: 5px 20px;
    border:none;
}

.done-btn:hover{
    opacity:0.7;
}
