* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.notFound-container {
  height: 100vh;
  background-color: white;
}

.notFound-card-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.notFound-error-msg-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFound-error-num {
  font-size: 8rem;
}

.notFound-error {
  font-size: 4rem;
}

.notFound-error-msg {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.notFound-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.notFound-top-button {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  background-color: #33c9dc;
  border-radius: 10px;
}

@media screen and (min-width: 1020px) {
  .notFound-card-wrapper {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .notFound-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inital;
  }

  .notFound-image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
  }

  @media screen and (min-width: 1200px) {
    .notFound-error-num {
      font-size: 10rem;
    }

    .notFound-error {
      font-size: 6rem;
    }

    .notFound-error-msg {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .notFound-image {
      width: 100%;
      max-width: 500px;
      border-radius: 10px;
    }
  }
}
