.circleBox{
    display:"inline-flex";
    align-items: center;
    justify-content: center;
    height:400px;
    width:100%;
    margin-top: 50px;
}
.changeModeRow{
    display:'flex';
}
.selectedButton{
    background-color: aqua;
}
.notSelectedButton{
    background-color: #bfbfbf;
}
.circleContent{
  left: 0;
  top: 16px;
  bottom: 0;
  right: 0;
}
.probability{
  margin-bottom: 4px;
}

.circleBackground{
  color: #bfbfbf;
}

.circle{
  position: absolute;
  color:white;
}