.training-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.training-head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  text-align: center;
  width: 100%;
  max-width: 250px;
}

.dog-image {
  margin-right: 0.5rem;
  width: 100px;
}

.training-head h3 {
  font-size: 1.3rem;
}

.training-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.training-selector {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
  border: 1px solid #33c9dc;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.training-input {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid #33c9dc;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.training-submit-btn:hover {
  opacity: 0.7;
}

.training-submit-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
  background-color: #33c9dc;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.back-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100px;
  background-color: #33c9dc;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}

.back-btn:hover {
  opacity: 0.7;
}

.task-list {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  text-decoration: underline;
}

.training-list {
  border-top: 1px solid #33c9dc;
  margin-top: 2rem;
}

.training-card-wrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.training-card-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.training-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  background-color: #33c9dc;
  color: white;
  -moz-box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.21);
  -ms-box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.21);
  color: white;
  text-decoration: none;
}

.training-card:hover {
  opacity: 0.7;
}

.training-name {
  font-weight: bold;
  font-size: 1.5rem;
}
.card-icon {
  color: black;
  margin-right: 1.5rem;
}

.training-calorie {
  display: flex;
  justify-content: center;
  margin-top: 1.3rem;
}

#training-calorie-id {
  margin-bottom: 2rem;
}

::placeholder {
  font-size: 20px;
  text-align: center;
}

optgroup {
  font-size: 40px;
  text-align: center;
}

.error {
  border: 1px solid red;
}

.error-msg {
  color: red;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.cantSubmit {
  background-color: darkgray;
}

@media screen and (min-width: 768px) {
  .training-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  .training-head h3 {
    font-size: 2rem;
  }

  .training-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .training-selector {
    margin-bottom: 1.5rem;
    font-size: 2.8rem;
    cursor: pointer;
    max-width: 500px;
  }

  .training-input {
    margin-bottom: 1.5rem;
    font-size: 2.9rem;
    text-align: center;
    cursor: pointer;
    max-width: 500px;
  }

  .training-submit-btn {
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    width: 100%;
    max-width: 500px;
    background-color: #33c9dc;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 0.5rem;
  }

  .training-list-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .training-list {
    border-top: 1px solid #33c9dc;
    margin-top: 2rem;
    width: 100%;
    max-width: 400px;
  }

  .task-list {
    margin-top: 2rem;
  }
}
