.top{
    align-content: center;
    justify-content: center;
    display: 'block';
}
.startButtonBox{
    margin-top: 80px;
    display:flex;
    justify-content: center;
    align-content: center;
    width:100%;
}
.startButton{
    justify-content: center;
    align-content: center;
    width:100%;
    text-align: center;
    margin-bottom:3rem;
    background-color:#33c9dc;
    width:100%;
    max-width:150px;
    padding:0.5rem;
    text-decoration:none;
    color:white;
    border-radius:10px;
    font-weight: bold;
}

.startButton:hover{
    opacity:0.7;
}
.cautionBox{
    width:100%;
    margin-right: 2px;
    margin-left: 2px;
    
}
.cautionText{
    text-align: center;
    padding-top: 10px;
}
.imageBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.imageChengeButton{
    color: white;
    right: 0;
    bottom: 0;
    position: absolute;
}
.sample{
    display: flex;
    align-content: center;
    justify-content: center;
    
}