.top{
    align-content: center;
    justify-content: center;
    width:400px;
    display: 'block';
}
.startButtonBox{
    margin-top: 30px;
    justify-content: center;
    align-content: center;
    width:100%;
}
.startButton{
    justify-content: center;
    align-content: center;
    width:100%;
}
.cautionBox{
    border: 4px solid;
    border-color: red;
    border-radius: 8px;
    justify-content: center;
    align-content: center;
}