<%= stylesheet_link_tag 'login' %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">

<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"> <!-- 追加 -->
  </head>
  <body>
  	<div class="main">

	<div class="form">
		<h1 class="font1">ログイン<h1>
		<p class="example"><i class="fab fa-twitter"></i><%= link_to ' twitterログイン', user_twitter_omniauth_authorize_path, method: :post %></p>
	</div>

    </div>

</body>
</html>
